.app__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 8px;
	background: #eff4fa;

	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
}
#app-btn {
	position: relative;
}
.app__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	font-family: 'Segoe UI Variable Static Text', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
}
.title__logo {
	width: 17px;
}

.app__buttons {
	display: grid;
	grid-template: 1fr/ 50px 50px 50px;
}

.app {
	--border-radius: 6px;
	background: white;
	width: 1330px;
	height: 80%;
	position: absolute;
	bottom: 110px;
	justify-self: center;
	color: black;
	border-radius: var(--border-radius);
	transition: all 0.2s ease-in-out;
	transform: translateY(30px);
	box-shadow: 0 0 20px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
	opacity: 0;
}

.app.opened.focused {
	z-index: 999;
	opacity: 1;
}

.app.opened {
	transform: translateY(0);
	opacity: 0.5;
}

.app.hidden {
	transform: translateY(60%) scale(0);
	opacity: 0.5;
}
