* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	margin: 0;
	display: grid;
	font-family: 'Segoe UI Variable Static Text', Arial, Helvetica, sans-serif;
	height: 100vh;
	width: 100vw;
}

button {
	border: none;
	background: transparent;
}

a {
	cursor: initial;
	text-decoration: none;
	color: inherit;
}

iframe {
	width: 100%;
	height: calc(100% - 47px);
	overflow: overlay;
	border: none;

	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

#root {
	display: grid;
	position: relative;
	overflow: hidden;
}

.focused {
	z-index: 99;
}
