* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body {
	margin: 0;
	display: grid;
	font-family: 'Segoe UI Variable Static Text';
	height: 100vh;
	width: 100vw;
}

button {
	border: none;
	background: transparent;
}

a {
	cursor: initial;
	text-decoration: none;
	color: inherit;
}

#root {
	display: grid;
	position: relative;
	overflow: hidden;
}

.focused {
	z-index: 99;
}
